body {
    /* background: linear-gradient(90deg, #FC6076 0%, #FF9A44 100%); */
    /* background-image: url('../assets/photo/Untitled-2.svg');
    background-size: 1920px 1080px; */
    background-image: url('../assets/photo/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.header-date {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin-left: 40px;
    top: 190px;
    left: -40px;
}

.header-day {
    left: 10px;
}

.header-link {
    position: relative;
}

.mars-logo {
    position: absolute;
    top: 260px;
    left: -120px;
}

.header-date::before {
    content: '';
    position: absolute;
    background-image: url('../assets/icons/calendar.svg');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    object-fit: contain;
    left: -40px;
    top: 8px;
}

.header-day::before {
    background-image: url('../assets/icons/clock-mars.svg');
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    margin-top: 350px;
}

.main-top-container {
    display: flex;
    justify-content: space-between;
}

.top-5 {
    width: 540px;
    height: 604px;
    background-color: #F15C1C;
    box-shadow: inset 0px 28.7199px 41.2388px rgba(255, 255, 255, 0.5), inset 0px 5.15485px 8.10048px #FFFFFF, inset 0px -60.3854px 50.0757px rgba(96, 68, 145, 0.3), inset 0px 72.1679px 73.6407px rgba(202, 172, 255, 0.3), inset 0px 2.94563px 13.2553px rgba(154, 146, 210, 0.3), inset 0px 0.736407px 29.4563px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(27.6647px);
    border-radius: 9px;
    padding: 20px;
}

.top__heading {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 32px;
}

.top-5__list {
    display: flex;
    flex-direction: column;
}

.top-5__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.list-item__left {
    display: flex;
    width: 50%;
    align-items: center;
}

.list-item__left * {
    margin-right: 14px;
}

.top-5__rate {
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    text-shadow: 3px 3px 4px rgba(49, 34, 68, 0.7);
}

.top-5__profile-photo {
    width: 61px;
    object-fit: contain;
}

.top-5__user-name {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    max-width: 170px;
    text-align: left;
    text-shadow: 3px 3px 4px rgba(49, 34, 68, 0.7);
}

.top-5__coins {
    font-weight: 800;
    font-size: 20px;
    color: #272727;
    text-shadow: 3px 3px 4px rgba(49, 34, 68, 0.7);
}

.top-5__student1 {
    background: linear-gradient(90deg, #D1485B 0%, #D2813C 100%);
}

.top-5__student2 {
    background: linear-gradient(90.03deg, #FFDA00 -67.56%, #BA6F2E 99.98%);
}

.top-5__student3 {
    background: linear-gradient(180deg, #FF7C7C 0%, #621B1B 100%);
}

.top-5__student4 {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0px 31.1443px 44.72px rgba(255, 255, 255, 0.5), inset 0px 5.59px 8.78429px #FFFFFF, inset 0px -65.4829px 54.3029px rgba(96, 68, 145, 0.3), inset 0px 78.26px 79.8571px rgba(202, 172, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(154, 146, 210, 0.3), inset 0px 0.798571px 31.9429px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(30px);
}

.top-5__student5 {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset 0px 31.1443px 44.72px rgba(255, 255, 255, 0.5), inset 0px 5.59px 8.78429px #FFFFFF, inset 0px -65.4829px 54.3029px rgba(96, 68, 145, 0.3), inset 0px 78.26px 79.8571px rgba(202, 172, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(154, 146, 210, 0.3), inset 0px 0.798571px 31.9429px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(30px);
}

.top-3 {
    width: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-3__profile-photo {
    width: 200px;
    border: 10px solid #FFCA28;
    border-radius: 50%;
}

.top-3__coins {
    text-align: center; 
    font-size: 24px;
    color: #272727;
}

.top-3__second>.top-3__profile-photo,
.top-3__third>.top-3__profile-photo {
    width: 150px;
    border-color: #fff;
}

.top-3__first,
.top-3__second,
.top-3__third {
    position: relative;
}

.top-3__first::before {
    position: absolute;
    background-image: url('../assets/icons/corona.svg');
    background-repeat: no-repeat;
    width: 170px;
    height: 162px;
    content: '';
    top: -120px;
    left: 25px;
}

.top-3__first-rank,
.top-3__second-rank,
.top-3__third-rank {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    content: '';
    width: 40px;
    height: 40px;
    background-color: #FFCA28;
    border-radius: 50%;
    border: 6px solid #282C2F;
    font-weight: 400;
    font-size: 28px;
    top: 190px;
    left: 80px;
}

.top-3__second-rank {
    background: #E77725;
    top: 140px;
    left: 60px;
    border: 6px solid #fff;
}

.top-3__third-rank {
    background: #E66060;
    top: 140px;
    left: 60px;
    border: 6px solid #fff;
}

.top-3__user-name {
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.top-graphic__wrapper {
    width: 540px;
    height: 604px;
    background-color: #F15C1C;
    box-shadow: inset 0px 28.7199px 41.2388px rgba(255, 255, 255, 0.5), inset 0px 5.15485px 8.10048px #FFFFFF, inset 0px -60.3854px 50.0757px rgba(96, 68, 145, 0.3), inset 0px 72.1679px 73.6407px rgba(202, 172, 255, 0.3), inset 0px 2.94563px 13.2553px rgba(154, 146, 210, 0.3), inset 0px 0.736407px 29.4563px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(27.6647px);
    border-radius: 9px;
    padding: 20px;
}

.top-graphic__cat-list {
    display: flex;
    justify-content: space-around;
}

.top-graphic__cat-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.top-graphic__cat-color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFCA28;
}

.cat-color2 {
    background: #FF8228;
}

.cat-color3 {
    background: #E56060;
}

.footer {
    margin-top: 40px;
    background: #F15C1C;
    box-shadow: inset 0px 31.1443px 44.72px rgba(255, 255, 255, 0.5), inset 0px 5.59px 8.78429px #FFFFFF, inset 0px -65.4829px 54.3029px rgba(96, 68, 145, 0.3), inset 0px 78.26px 79.8571px rgba(202, 172, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(154, 146, 210, 0.3), inset 0px 0.798571px 31.9429px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(30px);
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.categories-info {
    width: 600px;
    text-align: center;
    padding: 75px 0;
}

.categories-info-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-info-top * {
    margin-right: 14px;
}

.categories-info__name {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
}

.categories-info__img {
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.categories-info:nth-child(1) .categories-info__img::before {
    position: absolute;
    content: '';
    background-image: url("../assets/icons/gamers-logo.svg");
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
}

.categories-info:nth-child(2) .categories-info__img::before {
    position: absolute;
    content: '';
    background-image: url("../assets/icons/hackers-logo.svg");
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
}

.categories-info:nth-child(3) .categories-info__img::before {
    position: absolute;
    content: '';
    background-image: url("../assets/icons/coders-logo.svg");
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
}

.categories-info__coins {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.categories-info-bottom {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.categories-bottom__img {
    width: 300px;
}